.Course {
    width: 60%;
    height: 80px;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    float: left;
}

.CourseLogo {
    float: left;
    width: 15%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(18, 18, 18, 0.5);
}

.courseInfos {
    float: left;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 21px;
    color: #181818;
    text-align: left;
}

.courseInfos span {
    font-size: 14px;
    color: #c2c2c2;
}

.courseaddInfos {
    float: right;
    font-weight: 600;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 21px;
    color: #181818;
    text-align: right;
}

.courseaddInfos span {
    font-size: 14px;
    color: #c2c2c2;
}

.courseaddInfos img {
    width: 14px;
}

.coursePlayButton {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #181818;
    float: right;
    background: none;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;

    transition: 0.2s;
}

.coursePlayButton img {
    margin-top: 5px;
    margin-left: 2px;
}

.coursePlayButton:focus {
    outline: none;
}

.coursePlayButton:hover {
    background-color: #181818;
    color: white;

    transition: 0.2s;
}