.Topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #dadada;
}

.Logo {
    width: 15%;
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    color: #181818;
    border-right: 1px solid #dadada;
    text-align: left;
    align-items: center;
    padding-left: 3%;
    float: left;
}

.Logo span {
    margin: 0;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Logo span:hover {
    cursor: pointer;
}

li {
    list-style: none;
    display: inline;
    font-weight: 400;
}

.Profile {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}

.Profile span {
    float: left;
    margin-right: 10px;
    margin-top: 18px;
}

.ProfileImg {
    width:50px;
    height:50px;
    border-radius:50%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
    float: right;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: left;
    width: 50px;
    height: 16px;
    margin-top: 28px;
    margin-left: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    right: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }

    /* The slider */
    .sliderDark {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

  .sliderDark:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .sliderDark {
    background-color: #2196f3;
  }
  
  input:focus + .sliderDark {
    box-shadow: 0 0 1px #2196f3;
  } 
  
  input:checked + .sliderDark:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
    .sliderDark.round {
    border-radius: 30px;
    }
    
    .sliderDark.round:before {
    border-radius: 50%;
    }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }