.LandingTop {
    width: 100%;
    height: auto;
    float: left;
}

.LandingTop img {
    width: 40%;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.LandingTop_Text {
    width: 50%;
    text-align: left;
    float: right;
    margin-top: 60px;
    color: #26343D;
}

.LandingTop_Text h1 {
    font-weight: 700;
    font-size: 32px;
    width: 95%;
}

.LandingTop_Text p {
    font-weight: 600;
    font-size: 16px;
    margin-top: 50px;
    line-height: 30px;
    width: 92%;
}

.LandingTop_Text button {
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #3459D6;
    color: #3459D6;
    font-weight: 600;
    margin-left: 20px;
    background-color: white;

    transition: 0.3s;
}

.LandingTop_Text button:hover {
    cursor: pointer;
    background-color: #3459D6;
    color: white;

    transition: 0.3s;
}

.LandingTop_Text button:focus {
    outline: none;
}
.promiseLeft {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 50px;
    color: #26343D;
}

.promiseLeft img {
    width: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.promiseLeft_Text {
    width: 43%;
    text-align: left;
    float: right;
    margin-top: 150px;
}

.promiseLeft_Text span {
    font-weight: 600;
    color: #c1c1c1;
    margin-bottom: 0px;
}

.promiseLeft_Text h1 {
    font-weight: 700;
    font-size: 32px;
    width: 95%;
    margin-top: 0px;
}

.promiseLeft_Text p {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
    width: 70%;
}
.promiseRight {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 50px;
    color: #26343D;
}

.promiseRight img {
    height:400px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.promiseRight_Text {
    width: 43%;
    text-align: right;
    float: left;
    margin-top: 120px;
}

.promiseRight_Text span {
    font-weight: 600;
    color: #c1c1c1;
    margin-bottom: 0px;
}

.promiseRight_Text h1 {
    font-weight: 700;
    font-size: 32px;
    width: 95%;
    margin-left: 5%;
    margin-top: 0px;
}

.promiseRight_Text p {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
    width: 70%;
    margin-left: 30%;
}

.about {
    float: left;
    width: 100%;
    margin-top: 30px;
    color: white;
    background-color: #3459D6;
    position: relative;
}

.aboutText {
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.aboutText ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.aboutText li {
    list-style: square;
    list-style-position: inside;
}

.aboutImages {
    width: 30%;
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 14px;
}

.aboutImages img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aboutCopyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 10px;
}